.menu {
    display: flex;
    align-items: center;
    gap: 20px;

    &__logo {
        fill: var(--accent-dark-color);
        margin-top: -2px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--accent-dark-color);
        font-weight: bold;
        text-decoration: none;

        &_active {
            background: var(--main-gradient-to-right-bottom);
            background-clip: text;
            color: transparent;

            .menu__logo {
                fill: url("#gradient");
            }
        }

        &:hover {
            background: var(--main-gradient-to-right-bottom);
            background-clip: text;
            color: transparent;
            cursor: pointer;
            transition: 0.3s linear;

            .menu__logo {
                fill: url("#gradient");
            }
        }
    }
}

@media (width <=992px) {
    .menu {
        display: none;
    }
}