.menu {
    display: flex;
    align-items: center;
    gap: 20px;

    &__logo {
        fill: var(--accent-dark-color);
        margin-top: -2px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
        background: var(--main-gradient-to-right-bottom);
        color: transparent;
        background-clip: text;

        &:hover {
            cursor: pointer;

            .menu__logo {
                fill: var(--accent-color);
                transition: 0.3s linear;
            }
        }
    }
}

@media (width <=992px) {
    .menu {
        display: none;
    }
}